<!-- <p>{{items | json}}</p> -->
<ng-container *ngIf="!items.length">
  <h1>No items currently! Go buy or make something!</h1>
</ng-container>

<ng-container *ngIf="items.length">
  <div class="resource-bar">
    <div>{{items.length}} ITEMS</div>
    <div>SUPPLY</div>
  </div>
  <div class="cards">
    <app-item-card *ngFor="let item of items"
      [item]="item"
      [toSell]="toSell.get(item) || 0"
      (toSellChange)="toSellChange(item, $event)">
    </app-item-card>
  </div>
  <div class="totals">
    <div class="sell-qty"> {{totals.sellQty}} ITEMS </div>
    <div class="sell" [class.is-positive]="totals.sell > 0">{{totals.sell | currency}}</div>
    <div class="timer">{{totals.dur | salesFormat:'long'}} </div>
  </div>
  <div class="buy-sell-bar">
    <div class="buy-sell" *ngIf="totals.sellQty" (click)="sell()">CREATE SALES ORDER</div>
    <div class="no-selected" *ngIf="!totals.sellQty">NO ITEMS SELECTED</div>
  </div>
</ng-container>
