:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.resource-bar, .totals, .buy-sell-bar {
  font-size: 80%;
  padding: 4px;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  // max-width: 400px;
}
.resource-bar {
  background: #433F3F;
  border-bottom: 2px solid white;
}
.totals {
  border: 2px solid #7F7F7F;
  border-left: 0;
  border-right: 0;
  background: repeating-linear-gradient(45deg, #3D3838 4%, #3D3838 5%, #453F3F 5%, #453F3F 6%);
}
.buy-sell-bar {
  text-align: center;
  font-size: 120%;
  justify-content: center;
  padding: 0px;
  .buy-sell {
    padding: 4px;
    width: 100%;
    background: #0D5A9E;
  }
  .no-selected {
    padding: 4px;
    width: 100%;
    background: #433F3F;
  }
}
.cards {
  // flex: 1 1 auto;
  // display: flex;
  // flex-wrap: wrap;
  // width: 100%;
  // max-width: 80%;
  flex: 1 1 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));
  justify-items: center;
}
