<header>
  <h1>The Factory</h1>
  <div class="cash">{{ dataService.currentMoney | currency }}</div>
  <button class="help">?</button>
  <button class="menu" routerLink="/game">...</button>
</header>
<nav id="nav">
  <a routerLink="/purchasing" routerLinkActive="active" [class.prev]="currentRoute === 'manufacturing'">Purchasing</a>
  <a routerLink="/manufacturing" routerLinkActive="active" [class.prev]="currentRoute === 'inventory'">Manufacturing</a>
  <a routerLink="/inventory" routerLinkActive="active" [class.prev]="currentRoute === 'sales'">Inventory</a>
  <a routerLink="/sales" routerLinkActive="active" [class.prev]="currentRoute === 'automation'">Sales</a>
  <a routerLink="/automation" routerLinkActive="active" [class.prev]="currentRoute === 'game'">Automation</a>
  <a routerLink="/game" routerLinkActive="active">Game</a>
</nav>
<div id="outlet">
  <router-outlet></router-outlet>
</div>

<div id="log">
  <p>{{updateService.tick}} ticks - {{logs.length}} log items</p>
  <p>Latest entry: {{updateService.log | async}}</p>
  <ul>
    <li *ngFor="let entry of logs.slice(-10); index as i">{{entry}}</li>
  </ul>
</div>
<!-- Tab animation reference: https://github.com/angular/material2/blob/master/src/lib/tabs/tab-body.ts -->