:host {
  display: flex;
  flex-direction: column;
  > * {
    flex: 1 1 auto;
  }
}

header {
  display: flex;
  background: repeating-linear-gradient(45deg, #3D3838 4%, #3D3838 5%, #453F3F 5%, #453F3F 6%);
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  h1 {
    font-size: 24px;
    margin-right: 16px;
    font-weight: 700;
    margin-left: 4px;
  }

  .cash {
    flex: 1 1 auto;
    text-align: right;
    margin-right: 16px;
  }
  button {
    height: 2em;
    width: 2em;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    margin: 0 4px;
  }
}

nav {
  flex: 0 0 auto;
  display: flex;
  align-items: baseline;
  background: #093C6A;
  border: 2px solid #7F7F7F;
  border-left: 0;
  border-right: 0;
  > * {
    margin: 8px;
  }

  a {
    padding: 4px 8px;
    border-radius: 8px;
    color: #3A6388;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    &.active + a, &.prev {
      color: #849EB5;
    }
    &.active {
      color: #FFF;
      position: relative;
    }
    &.active:after {
      content: ' ';
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translate3d(-3px, 3px, 0);
      background: #7F7F7F;
      position: absolute;
      bottom: -14px;
      left: 50%;
    }
  }
}

#outlet {
  flex: 1 1 auto;
  padding: 8px;
}

#log {
  position: fixed;
  bottom: 80px;
  right: 8px;
  min-width: 15vw;
  background: rgba(0,0,0,0.7);
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  font-size: 11px;
  line-height: 1.45;
  ul {
    border-top: 1px solid white;
    margin-top: 2px;
    padding-top: 2px;
  }
}
