<!-- <p>{{items | json}}</p> -->
<p> Sales time!</p>
<p>Time = Tier Mod * 0.12 * Quantity * Unit Price + 3.5 seconds</p>
<ol>
  <li>T1 - 1</li>
  <li>T2 - 2</li>
  <li>T3 - 3</li>
  <li>T4 - 4?</li>
  <li>Builder - 5</li>
  <li>Tasker - ? 6 maybe..</li>

</ol>
<h2>Open Sales</h2>
<ng-container *ngFor="let sale of salesService.openSales$ | async">
  <app-sales-card [sale]="sale" (saleChange)="salesService.update($event)"></app-sales-card>
</ng-container>
<h2>Sold</h2>
<ng-container *ngFor="let sale of salesService.soldSales$ | async">
  <app-sales-card [sale]="sale" (saleChange)="salesService.update($event)"></app-sales-card>
</ng-container>
<h2>Complete Sales</h2>
<ng-container *ngFor="let sale of salesService.completeSales$ | async">
  <app-sales-card [sale]="sale" (saleChange)="salesService.update($event)"></app-sales-card>
</ng-container>
<div>{{ salesService.allSales$ | async | json }}</div>
