<!-- <p>{{items | json}}</p> -->
<!-- <p> Sales time!</p>
<p>Time = Tier Mod * 0.12 * Quantity * Unit Price + 3.5 seconds</p>
<ol>
  <li>T1 - 1</li>
  <li>T2 - 2</li>
  <li>T3 - 3</li>
  <li>T4 - 4?</li>
  <li>Builder - 5</li>
  <li>Tasker - ? 6 maybe..</li>
</ol> -->

<div class="resource-bar">
  <div *ngIf="(salesService.openSales$ | async)?.length as len; else noOpen">{{ len }}</div>
  <ng-template #noOpen>
    <div>0</div>
  </ng-template>
  <div>OPEN ORDERS</div>
</div>
<div class="cards">
  <app-sales-card *ngFor="let sale of salesService.openSales$ | async" [sale]="sale" (saleChange)="salesService.update($event)"></app-sales-card>
</div>

<div class="resource-bar">
  <div *ngIf="(salesService.soldSales$ | async)?.length as len; else noSold">{{ len }}</div>
  <ng-template #noSold>
    <div>0</div>
  </ng-template>
  <div>SOLD ORDERS</div>
</div>
<div class="cards">
  <app-sales-card *ngFor="let sale of salesService.soldSales$ | async" [sale]="sale" (saleChange)="salesService.update($event)"></app-sales-card>
</div>
<div class="resource-bar">
  <div *ngIf="(salesService.completeSales$ | async)?.length as len; else noComplete">{{ len }}</div>
  <ng-template #noComplete>
    <div>0</div>
  </ng-template>
  <div>COMPLETED ORDERS</div>
</div>
<div class="cards">
  <app-sales-card *ngFor="let sale of salesService.completeSales$ | async; index as i" [sale]="sale" (saleChange)="salesService.update($event)"></app-sales-card>
</div>

<!-- <div>{{ salesService.allSales$ | async | json }}</div> -->
