/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
body {
  height: 100vh;
  width: 100vw;
  // font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background: #5D5656;
  color: #FFF;
}
